body {
background-image: url("images/kuala-lumpur.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
background-attachment: fixed;

 }

h1 {
text-align: center;
  color: white;
  margin-top: 10%;
}
